<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!-- <div class="main-content">
<h3 style="text-align: center;">REGISTRATION FORM</h3>
<div class="container" style="width: 500px;">
<form>
    <label>Name :</label>
    <input type="text" class="form-control">
    <br>
    <label>Email ID:</label>
    <input type="text" class="form-control">
    <br>
    <label>Mobile Number :</label>
    <input type="text" class="form-control">
    <br>
    <label>Choice of Field :</label>
    <input type="text" class="form-control">
    <br>
    <label>Choice of Company :</label>
    <input type="text" class="form-control">
    <br>

    <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
</div> -->
<div class="signup-container popup" *ngIf="showPopUp">
    <!-- <h1 style="margin-right: 200px;">SIGN UP</h1> -->
    <!-- <img src="https://thumbs.dreamstime.com/b/d-sign-up-cube-text-white-background-92336174.jpg" alt="signup" style="margin-right: 100px;"> -->
    <mat-card>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput placeholder="FullName" name="username" [(ngModel)]="signupDetails.userName">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Email ID" name="email" [(ngModel)]="signupDetails.userEmail">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="signupDetails.password">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Phone Number"  name="phonenumber" [(ngModel)]="signupDetails.phoneNumber">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="State"  name="state" [(ngModel)]="signupDetails.state">
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Country"  name="country" [(ngModel)]="signupDetails.country">
          </mat-form-field><br>
        </form>
      </mat-card-content>
      <mat-card-actions style="justify-content: center;">
        <button mat-raised-button color="primary" (click)="onSignupSubmission()" style="margin-right: 10px;">Sign Up</button>
        <button mat-raised-button color="warn" (click)="onSignupCancel()" style="margin-left: 10px;">Cancel</button>
      </mat-card-actions>
      <span>{{errorstatus}}</span>
    </mat-card>
  </div>
  