a{
    text-decoration: none;
}

.bottom-navigation a{
    scale: 110%;
    margin-left: 5px;
    flex: content;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottom-navigation a:hover{
    scale: 115%;
}

.top-navigation a{
    background-color: black;
    color: white;
}

.top-navigation a{
    border: 2px inset silver;
    border-radius: 10%;
    padding: 5px 5px 5px 5px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-navigation a:hover{
    background-color: white;
    color: black;
}

.blog-container {
  display: flex;
  align-items: center;
  position: relative;
}

.blog-container button {
  background-color: #eaeaea87; 
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #333;
  z-index: 2;
  padding: 8px;
  border-radius: 50%;
}

.blog-container button:first-child {
  left: 10px;
}

.blog-container button:last-child {
  right: 10px;
}

.blog {
  display: flex;
  transition: transform 0.3s ease-in-out;
 
}

.blog-content {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  flex: 0 0 40%;
}

.image-container a {
  display: block;
}

.image-container img {
  width: 500px;
  height: 500px;
}

.content-container {
  flex: 0 0 60%;
  padding: 0 20px;
}
  
  h2 {
    font-size: 50px;
    margin: 15px;
  }

  p{
    font-size: large;
    margin: 15px
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  button{
    z-index: 2;
  }


  #avatarname {
    float: right;
    justify-content: center;
    margin-right: 25px;
    margin-top: 10px;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    width: 100%;
  }
  
  .popup h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .popup form {
    display: flex;
    flex-direction: column;
  }
  
  .popup .form-group {
    margin-bottom: 10px;
  }
  
  .popup label {
    font-weight: bold;
  }
  
  .popup input[type="text"],
  .popup input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 230px;
  }
  
  .popup button[type="submit"] {
    padding: 8px 12px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup p {
    margin-top: 10px;
    text-align: center;
  }
  