<div class="top-navigation" style="background-color: black;">
  <a mat-button routerLink="/">For Corporates</a>
  <a mat-button routerLink="/">For Business</a>
  <a mat-button routerLink="/">For Universities</a>
  <a mat-button routerLink="/">For Students</a>
  <span style="color: white;" *ngIf="showLogin">TEST LOGIN</span>
</div>
<mat-toolbar class="split-header">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="container">
    <div class="bottom-navigation">
      <img src="https://i.pinimg.com/originals/5d/6e/73/5d6e7332b441910f0a1fdb9903ebbee4.jpg" alt="LEARNTOS" style="height: 35px; width: 100px; margin-left: 10px; margin-top: 10px;">
      <form style="margin-top: 5px; float: right; margin-right: 1000px; margin-top: 15px;">
        <input type="text" id="search-input" placeholder="What do you want to learn?" style="height: 20px; width: 200px;"/>
        <button type="submit" style="height: 25px;">Search</button>
      </form>
        <span class="spacer" style="margin-left: 950px;"></span>
        <a mat-button routerLink="/">Post Your Knowledge</a>
        <b>
        <a mat-button routerLink="/">LOGIN</a>
        <a mat-button routerLink="/">SIGN UP</a>
        </b>
    </div>
  </div>
</mat-toolbar>


<mat-sidenav-container style="width: 100%;">
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened"  style="background-color: rgb(255, 222, 92); width: 200px; height: 600px;">
    <mat-nav-list style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-left: 5px; line-height: 20px;">
      <span><b>Find your new career</b></span>
      <a mat-list-item routerLink="/option1" href="#">
        <span>For Business</span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span>For corporates</span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span>For Universities</span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span>For Students</span>
      </a><br><br>
      <a mat-list-item routerLink="/option2">
        <span><b>Post your knowledge</b></span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span><b>B.O.Y</b></span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span><b>Login</b></span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span><b>Join for free</b></span>
      </a>
      <!-- Repeat for the other options -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="text-overflow: clip;">
    <div class="slider-container">  
      <button mat-icon-button (click)="previousSlide()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div class="slide" [style.transform]="'translateX(' + (-slideIndex * 100) + '%)'">
        <div *ngFor="let slide of slides" class="slide-content">
          <h1>{{ slide.heading }}</h1>
          <p>{{ slide.body }}</p>
          <a [href]="slide.link">
            <img [src]="slide.image" alt="Slide Image">
          </a>
        </div>
      </div>
      <button mat-icon-button (click)="nextSlide()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div class="login-form">
      <h2>Login</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Login</button>
      </form>
      <p>{{status}}</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>