<!-- <mat-toolbar color="primary"  style="background-color: silver;">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="https://i.pinimg.com/originals/5d/6e/73/5d6e7332b441910f0a1fdb9903ebbee4.jpg" alt="logo" style="height: 30px; width: 110px;">
  <form class="search-form" style="margin-left: 70%; font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <input type="text" placeholder="Search..." /> 
    <button type="submit" style="margin-left: 10px;">Search</button>
  </form>
</mat-toolbar> -->

<mat-toolbar class="split-header" color="primary" style="background-color: silver;">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>=</mat-icon>
  </button>
  <div class="container">
    <div class="top-navigation">
      <a mat-button routerLink="/">For Corporates</a>
      <a mat-button routerLink="/">For Business</a>
      <a mat-button routerLink="/">For Universities</a>
      <a mat-button routerLink="/">For Students</a>
    </div>
    <div class="bottom-navigation" style="margin-left: 950px; scale: 110%;">
      <span class="spacer"></span>
      <a mat-button routerLink="/">Post Your Knowledge</a>
      <b>
      <a mat-button routerLink="/">LOGIN</a>
      <a mat-button routerLink="/">SIGN UP</a>
    </b>
    </div>
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened"  style="background-color: bisque;">
    <mat-nav-list style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-left: 5px; line-height: 30px;">
      <span><b>Find your new career</b></span>
      <a mat-list-item routerLink="/option1">
        <span>For Business</span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span>For corporates</span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span>For Universities</span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span>For Students</span>
      </a><br><br>
      <a mat-list-item routerLink="/option2">
        <span><b>Post your knowledge</b></span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span><b>B.O.Y</b></span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span><b>Login</b></span>
      </a>
      <a mat-list-item routerLink="/option2">
        <span><b>Join for free</b></span>
      </a>
      <!-- Repeat for the other options -->
    </mat-nav-list>
  </mat-sidenav>
