.banner {
    width: 100%;
    align-self: center;
    background-color: #57b4f6; /* Replace with your desired background color */
    text-align: left;
    padding: 10px;
  }
  
  .text 
  {
  color: #060606; /* Replace with your desired text color */
  }
  
  .container {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #d7d5d5;
  }
  
  .container1 {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
  
  .container2 {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
  
  .container3 {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
  
  .container4 {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }